
:root {
    --color-text: #2E2F42;
    --color-backround: #fff;
    --color-light: #FFFFFF;
    --color-btn: #4D5AE5;
    --color-contacts: #434455;
    --color-footer: #E7E9FC;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-backround);
}
    


/* header css 2 pages */

.link-webstudio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height:1.13x;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-text);
text-decoration: none;
}

 .link-webstudio span {
 color: var(--color-btn);
 }



.link{
    font-family: "Roboto", sans-serif;

}
.list {
    list-style: none;
}

.header-link {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-text);
text-decoration: none;
}

.header-mail {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-contacts);
text-decoration: none;
}
.header-phone {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-contacts);
text-decoration: none;
}

/* tittles */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
   

/* button-css 2 pages */


.btn-all:hover{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
background: var(--color-btn);
color: var(--color-light);
}

.btn-orderservice:hover{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
background:var(--color-btn);
color: var(--color-light)
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
 }

.btn-list:hover {
font-family: inherit;
font-weight:500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--color-btn);
color:var(--color-light);
border: 1px solid var(--color-light);
border-radius: 4px;
list-style: none;
}
.our-team{
background:var(--color-backround);
}
.team-item {
 background:var(--color-backround);
}

/* tittles and texts css 2 pages */

.tittle-effective-solutions{
font-family: inherit;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--color-light);
}

.effective {
background: var(--color-text);
}


.tittle-gallery {
font-family: inherit;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--color-text);
}

.tittle-top {
font-family: inherit;
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-text);

}

.text-top{
font-family: inherit;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-contacts);

}

.gallery-link {
    text-decoration: none;
}
/* footer css 2 pages */

.footer {
background: var(--color-text);
}
.link-webstudio-footer{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-footer);
text-decoration: none;
}

.link-webstudio-footer span {

    color: var(--color-btn);
}
.text-footer {
font-family: inherit;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-footer);
}

